@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    background: linear-gradient(to right, #ffffff, #ffffff);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.background-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, #f0c27b, #4b1248);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-webkit browsers */
    color: transparent; /* For fallback */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.card-title {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.card-text {
    color: #4b0082;
    font-size: 1rem;
    margin-bottom: 20px;
}

.form-group label {
    color: #6c757d;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: 0;
    align-items: center;
}

.form-control {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    background-color: #ffffff;
    color: #495057;
    height: calc(2.25rem + 2px);
}

.input-group .form-control {
    border-left: 0;
}

.input-group-prepend .input-group-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: calc(2.25rem + 2px);
}

.btn-custom {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    width: 100%;
}

.btn-custom:hover {
    background-color: #218838;
    color: #fff;
}

.text-light {
    color: #000000 !important;
}

.register-link {
    margin-top: 20px;
}

.sign-up-link {
    transition: color 0.3s;
}

.sign-up-link:hover {
    color: #007bff !important; /* Biru terang */
}

.sign-in-link, .sign-up-link {
    transition: color 0.3s;
}

.sign-in-link:hover, .sign-up-link:hover {
    color: #007bff !important; /* Biru terang */
}