body {
    overflow: auto;
    background-color: #f8f9fa; /* Light background for better contrast */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5em;
    color: #999;
}

.min-height-container {
    min-height: 100vh;
}

.custom-bg-purple {
    background-color: purple;
}

.bold-label {
    font-weight: bold;
}

.btn-white {
    background-color: #ffffff;
}

.btn-white:hover {
    background-color: #ffffff;
}

.input-lg {
    padding: .6rem 0.8rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: .3rem;
}

.custom-img-size {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
}

.card {
    padding: 1rem;
}

h1, h4, p, label {
    font-size: 0.9em;
}

/* New styles for centering */
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Added padding for better spacing */
}

.card {
    width: 100%;
    max-width: 400px; /* Adjusted width for better centering */
}

.text-center img {
    margin-bottom: 20px; /* Added margin for spacing */
}
