
/* Mendefinisikan variabel warna */
:root {
--primary-color: #276561; /* Warna primary key */
}

/* Penggunaan variabel warna */
.btn-primary {
background-color: var(--primary-color); /* Gunakan variabel warna untuk background */
border-color: var(--primary-color); /* Gunakan variabel warna untuk border */
color: #fff; /* Warna teks */
}


.bg-primary {
background-color: var(--primary-color); /* Gunakan variabel warna untuk background */
}

/* Contoh lain penggunaan warna */
.text-primary {
color: var(--primary-color); /* Gunakan variabel warna untuk warna teks */
}


